*{
    margin: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
hr{
   margin: 0;
   margin-bottom: 1rem;
   width: 100%;
}
header{
    margin-top: 2rem;
    width: 100%;
    max-width: 992px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gallery{
    display: grid;
    max-width: 992px;
    grid-template-columns: repeat(3, minmax(0, 1fr) );
    grid-template-rows: repeat(3,minmax(0, 1fr));
    grid-gap: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.img-folder{
    display: grid;
}
.img-folder:hover{
    cursor: pointer;
}
.img-folder::before{
    content: "";
    padding-bottom: 100%;
    display: block;
}
.img-folder::before,
.img-container{
    grid-area: 1 / 1 / 2 / 2;
}
img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit:cover;
}

.img-folder:focus img{
    object-fit:fill;
}

.hidden{
    display: none;
}
.show{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    position: fixed;
    background-color: rgba(0,0,0,0.5); 
    z-index: 1;
    justify-self: center;
    width: 100vw; 
    height: 100vh; 
    top: 0;
    margin: 0;
}
.modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 70%;
}
.modal img{
    height: 100%;
    width: 100%;
    object-fit:contain;
    margin: 0;
}